.page-header
	%h1 Aikido FAQ's <small>clicke on a question to see the answer</small>
%section
	%ul.questions
		:markdown
			- [how many faqs will there be](#a1)  
		#a1.hide about ten 
		:markdown	
			- [how long will it take to be a master](#a2)
		#a2.hide the road to enligntenment is never ending
		:markdown
			- [will this stop me being bullied](#a3) 
		#a3.hide No chance fatso
		:markdown
			- [when do i get a sword](#a4)
		#a4.hide when you mind is shaper than your ego 
		:markdown
			- [is this the ultimate fitghting technique](#a5)
		#a5.hide
			:markdown
				[wing chun kung fu]('http://www.ipman-movie.com/main_en.html')