%h1 Aikido FAQ's
%section
	%ul.questions
		:markdown
			- [how many faqs will there be](#a1)  
			- [how long will it take to be a master](#a2)
			- [will this stop me being bullied](#a3) 
			- [when do i get a sword](#a4)
			- [is this the ultimate fitghting technique](#a5)
%section
	.answers
		.faq#a1
			%h4 how many faqs will there be 
			%p
				about ten 
		.faq#a2		
			%h4 how long will it take to be a master
			%p
				the road to enligntenment is never ending
		.faq#a3
			%h4 will this stop me being bullied 
			%p
				No chance fatso
		.faq#a4
			%h4 When do i get a sword
			%p
				when you mind is shaper than your ego 
		.faq#a5
			%h4 Is this the ultimate fitghting technique
			:markdown
				[wing chun kung fu]('http://www.ipman-movie.com/main_en.html')