.page-header
	%h1 gallery
%section
	.row
		.span4
			.project-gallery
				%a{ href:'//d6pz16ai3czu.cloudfront.net/f6bf104e-cb29-411d-901f-0f28b4c5d3fb_large_visualisation.jpg', class:'img-container gallery', rel:'project-gallery', title:'How it will look: Cody Dock opened up with new swing bridge' }
					.image 
						= image_tag('//d6pz16ai3czu.cloudfront.net/f6bf104e-cb29-411d-901f-0f28b4c5d3fb_medium_visualisation.jpg')

					.img-link View gallery

				%ul.img-thumbs
					%li
						%a{ href:'//d6pz16ai3czu.cloudfront.net/eec46948-f6e9-466d-9da8-22456aafe62d_large_final-logo.jpg', class:'gallery', title:'title one', rel:'project-gallery' }
							= image_tag('//d6pz16ai3czu.cloudfront.net/eec46948-f6e9-466d-9da8-22456aafe62d_small_final-logo.jpg')
					%li
						%a{ href:'//d6pz16ai3czu.cloudfront.net/e518cd59-3c04-4c3b-baeb-aea858d8a444_large_mouth-of-dock.jpg', class:'gallery', title:'title two', rel:'project-gallery' }
							= image_tag('//d6pz16ai3czu.cloudfront.net/e518cd59-3c04-4c3b-baeb-aea858d8a444_small_mouth-of-dock.jpg')
					%li
						%a{ href:'//d6pz16ai3czu.cloudfront.net/5a061219-b92c-4b57-97ca-a71f08110615_large_bridge-plans.jpg', class:'gallery', title:'title three', rel:'project-gallery' }
							= image_tag('https://d6pz16ai3czu.cloudfront.net/5a061219-b92c-4b57-97ca-a71f08110615_small_bridge-plans.jpg')				
		.span8
			%p
				this is a test gallery from spacehive about a curren project cody dock. 



