%h1 Destructors!
%section
	.row
		.span4
			= image_tag('sean.jpg')
		.span8 
			%p
				Sean started practicing aikido at the Wa Go Kan dojo under the guidance of Yates Sensei in 2004. Since then as well as practicing 4 times a week in Manchester, Sean attends many other dojos and aikido courses in the UK to further augment and broaden his understanding of aikido generally. This desire to gain a deeper understanding took Sean to Tokyo in 2007/08 for a year to train under the current Doshu and various other Shihan at the Hombu Dojo in Tokyo. Whilst there Sean achieved the level of Shodan. Whenever he can Sean also studies and trains under Yamashima Shihan (7th dan aikikai) who, as well as regularly attending morning practice under the current Doshu, runs both the Chioda-Ku and the Miname Tanaka dojos in Tokyo, Yamashima Shihan was a long time student of Yamaguchi Shihan (8th dan aikikai). As well as training as often as possible Sean furthers his learning of aikido by regularly facilitating practice on Saturday mornings at the Wa Go Kan dojo in Manchester.  In May 2010 Sean attained the rank of 2nd dan during a visit to Hombu dojo.	