@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

/* fancy box */
.img-thumbs {
  display:none;
  li {
    float:left;
  }
}

.show{
  display: block;
}

.hide{
  display: none;
}

.project-gallery {
  width:199px;
  .image{
    height:134px
  }
}

.img-link{
  width:60px;
  color:#666!IMPORTANT;
  border-top:none;
  border-bottom:3px solid #C6C6C1;
  border-left:3px solid #C6C6C1;
  border-right:3px solid #C6C6C1;
  border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  border-bottom-right-radius:5px;
  -moz-border-radius-bottomright:5px;
  color:#FFF;
  font-size:0.8em;
  font-weight:bold;
  padding:0px 10px 3px 10px;
  height:15px;
  float:right;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }    
  ul {
    margin: auto;
    width:340px;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      &:after{
        content:" | ";
      }
      &:last-child{
        &:after{
          content:"";
        }
      }
    }
  }
}
